<!-- FOOTER -->
<!--<div class="footer_placeholder"></div>-->
<!--<footer class="footer">-->
    <!--<div class="footer__logo">-->
        <!--<a href="#" class="footer__text">Bocharova</a>-->
    <!--</div>-->
    <!--<ul class="footer__box">-->
        <!--<li class="footer__item"><a class="js-scroll-link" href="#about">О нас</a></li>-->
        <!--<li class="footer__item"><a class="js-scroll-link" href="#catalog">Каталог</a></li>-->
        <!--<li class="footer__item"><a class="js-scroll-link" href="#contacts">Контакты</a></li>-->
    <!--</ul>-->
    <!--<a class="button-contact-us" href="#">Contact us</a>-->
    <!--<div class="footer__sources">-->
        <!--<div class="footer__social-network">-->
            <!--<a href="#"><img src="./images/bg-vk.svg" width="24" height="24"></a>-->
            <!--<a href="#"><img src="./images/bg-facebook.svg" width="24" height="24"></a>-->
            <!--<a href="#"><img src="./images/bg-vk.svg" width="24" height="24"></a>-->
        <!--</div>-->
        <!--<p class="footer__copyright">copyright © 2017 all rights reserved</p>-->
    <!--</div>-->

<!--</footer>-->
<!-- FOOTER -->
<script>
    var revision = 130917;    // версия спрайта (текущая дата)
</script>
<link rel="stylesheet" href="css/jquery.fancybox.min.css">
<link rel="stylesheet" href="css/formstyler.css">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/slick-theme.css">
<link rel="stylesheet" href="css/slick.css">
<link rel="stylesheet" href="css/develop.css">
<!-- SCRIPTS -->
<script        src="https://code.jquery.com/jquery-3.1.1.min.js"        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>
<script type="text/javascript" src="js/plagins/object-fit-cover.js" ></script>
<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop.js" ></script>

<!-- endbuild -->

<!-- /SCRIPTS -->
