<!--&lt;!&ndash; HEADER &ndash;&gt;-->
<!--<header class="site-header">-->
    <!--<div class="site-header__logo">-->
        <!--<a href="#" class="site-header__text">Bocharova</a>-->
    <!--</div>-->
    <!--<ul class="site-header__box">-->
        <!--<li class="site-header__item"><a href="#">О нас</a></li>-->
        <!--<li class="site-header__item"><a href="#">Каталог</a></li>-->
        <!--<li class="site-header__item"><a href="#">Контакты</a></li>-->
    <!--</ul>-->
    <!--<form class="search-form" name="search-site" action="#">-->
        <!--<input type="text" id="search_query" placeholder="search">-->
        <!--<input type="submit" id="search_go" value="">-->
    <!--</form>-->
<!--</header>-->
<!--&lt;!&ndash; /HEADER &ndash;&gt;-->

